*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #272f42;
    color: #fff;
}


.home{
    width: 100vw;
}

.home-content {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.svg-img{
  height: 500px;
}

.left {
    align-items: center;
    height: 100vh;
    
}

.heading{
    align-items: center;
    margin-top: 25%;
}

.logo{
  align-items: center;
  height: fit-content;
}

.bold{
  font-weight: 800;
}

.dev,.des {
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.firstName , .lastName {
    font-weight: bold;
    line-height: 100px;
    font-size:120px;
}

.intro-lineone, .intro-linetwo{
    font-size: 20px;
}

.intro-lineone {
    margin-top: 5%;
}

.find-on {
    margin-top: 3%;
    font-size: 20px;
}

.colored{

  color: #fcaf88;

}

.wrapper {
    margin-top: 3%;
}
.fab {
  text-decoration: none;
  color: #fff;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #272f42;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(5):hover{
    width: 200px;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
    font-size: 16px;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button .icon i{
    font-size: 35px;
    line-height: 30px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(2) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(3) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(4) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.wrapper .button:nth-child(5) span{
      font-size: 20px;
      font-weight: 600;
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.about {
  background-image: url(../img/me.png);
  background-size: cover;
}

.about-content{
    height: 100vh;
    display: flex;

}

.left-content{
  margin-top: 5%;
  width: 50%;
  height: 90vh;
}

.about-me {
  margin-left: 10%;
  font-size: 60px;
}
.hl {
  margin-left: 10%;
  border-left: 6px solid green;
  height : 10px;
  border-left: 200px solid #fcaf88;
  
}

.intro-text {
  margin-left: 10%;
  font-size: 20px;
  margin-top: 10%;
}
.arbo:link{
  text-decoration: none;
  color: #fff;
}

.arbo:visited{
  text-decoration: none;
  color: #fff;
}

.arbo:hover{
  padding: 5px;
  background:linear-gradient(90deg,#fcaf88, #f96876); ;
}

.arbo:active{
  color: #fff;
}



