

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #272f42;
    color: #fff;
}

.wrapper-box{
  max-width: 1920px;
  margin: 0 auto;
}

.home{
    width: 100%;
    position: absolute;
}

.home-content {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.left {
    align-items: center;
    height: 100vh;
    
}

.heading{
    align-items: center;
    margin-top: 25%;
}


.svg-img{
    height: 80%;
}

.dev,.des {
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.firstName , .lastName {
    font-weight: bold;
    line-height: 100px;
    font-size:120px;
}

.intro-lineone, .intro-linetwo{
    font-size: 20px;
}

.intro-lineone {
    margin-top: 5%;
}

.find-on {
    margin-top: 3%;
    font-size: 20px;
}

.wrapper {
    margin-top: 3%;
}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #272f42;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(5):hover{
    width: 220px;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
    font-size: 16px;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(2) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(3) span{
      font-size: 16px;
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(4) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .wrapper .button:nth-child(5) span{
      font-size: 20px;
      font-weight: 600;
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

@media only screen and (max-width:560px){

  .home-content {
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .firstName,.lastName{
    font-size: 80px;
    line-height: 65px;
  }

  .intro-lineone , .intro-linetwo{
    font-size: 20px;
  }

  .wrapper .button{
    display: inline-block;
    height: 50px;
    width: 50px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: #272f42;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 120px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(5):hover{
    width: 120px;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);

  }
  .wrapper .button:nth-child(4):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: linear-gradient(90deg,#fcaf88, #f96876);
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 20px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(2) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(3) span{
      font-size: 8px;
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper .button:nth-child(4) span{
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .wrapper .button:nth-child(5) span{
      font-size: 10px;
      font-weight: 600;
    background: -webkit-linear-gradient(90deg,#fcaf88, #f96876);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }



}


